node_modules
.git
.gitignore
*.md
dist
.turbo
coverage
.env
.env.local
.env.*.local
.gitkeep
docker/volumes
Dockerfile
.dockerignore
.pnpm-store
**/node_modules
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/tests
**/__tests__
test-results
playwright-report
cypress
tsconfig.tsbuildinfo
*.tsbuildinfo
